{% load static %}  



    <!-- site__body / end --><!-- site__footer -->
        <footer class="site__footer">
            <div class="site-footer">
                <div class="decor site-footer__decor decor--type--bottom">
                    <div class="decor__body">
                        <div class="decor__start"></div>
                        <div class="decor__end"></div>
                        <div class="decor__center"></div>
                    </div>
                </div>
                <div class="site-footer__widgets">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-xl-4">
                                <div class="site-footer__widget footer-contacts">
                                    <h5 class="footer-contacts__title">تماس با ما</h5>
                                    <div class="footer-contacts__text">
                                        لورم ایپسوم دلار سیت آمت، کنسکتتور آدیپیسینگ الیت.
                                        اینتیگر این فئوگیت لورم.
                                    </div>
                                    <address class="footer-contacts__contacts">
                                        <dl>
                                            <dt>شماره تلفن</dt>
                                            <dd>+1 (800) 060-07-30</dd>
                                        </dl>
                                        <dl>
                                            <dt>آدرس ایمیل</dt>
                                            <dd>red-parts@example.com</dd>
                                        </dl>
                                        <dl>
                                            <dt>محل ما</dt>
                                            <dd>715 خیابان فیک، نیویورک 10021، ایالات متحده</dd>
                                        </dl>
                                        <dl>
                                            <dt>ساعات کاری</dt>
                                            <dd>دوشنبه تا شنبه 10:00 صبح - 7:00 شب</dd>
                                        </dl>
                                    </address>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-xl-2">
                                <div class="site-footer__widget footer-links">
                                    <h5 class="footer-links__title">اطلاعات</h5>
                                    <ul class="footer-links__list">
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">درباره ما</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">اطلاعات حمل و نقل</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">سیاست حریم خصوصی</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">برندها</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">تماس با ما</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">بازگشت ها</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">نقشه سایت</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 col-xl-2">
                                <div class="site-footer__widget footer-links">
                                    <h5 class="footer-links__title">حساب کاربری</h5>
                                    <ul class="footer-links__list">
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">موقعیت فروشگاه</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">تاریخچه سفارشات</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">لیست آرزوها</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">خبرنامه</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">ویژه ها</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">گواهی هدیه</a>
                                        </li>
                                        <li class="footer-links__item">
                                            <a href="#" class="footer-links__link">همکاران</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                                <div class="site-footer__widget footer-newsletter">
                                    <h5 class="footer-newsletter__title">خبرنامه</h5>
                                    <div class="footer-newsletter__text">
                                        آدرس ایمیل خود را وارد کنید تا در خبرنامه ما مشترک شوید و از تخفیف ها و
                                        پیشنهادات ویژه مطلع شوید.
                                    </div>
                                    <form action="#" class="footer-newsletter__form">
                                        <label class="sr-only" for="footer-newsletter-address">آدرس ایمیل</label>
                                        <input type="text" class="footer-newsletter__form-input"
                                            id="footer-newsletter-address" placeholder="آدرس ایمیل..." />
                                        <button class="footer-newsletter__form-button">
                                            اشتراک
                                        </button>
                                    </form>
                                    <div class="footer-newsletter__text footer-newsletter__text--social">
                                        ما را در شبکه های اجتماعی دنبال کنید
                                    </div>
                                    <div class="footer-newsletter__social-links social-links">
                                        <ul class="social-links__list">
                                            <li class="social-links__item social-links__item--facebook">
                                                <a href="https://themeforest.net/user/kos9" target="_blank">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li class="social-links__item social-links__item--twitter">
                                                <a href="https://themeforest.net/user/kos9" target="_blank">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="social-links__item social-links__item--youtube">
                                                <a href="https://themeforest.net/user/kos9" target="_blank">
                                                    <i class="fab fa-youtube"></i>
                                                </a>
                                            </li>
                                            <li class="social-links__item social-links__item--instagram">
                                                <a href="https://themeforest.net/user/kos9" target="_blank">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li class="social-links__item social-links__item--rss">
                                                <a href="https://themeforest.net/user/kos9" target="_blank">
                                                    <i class="fas fa-rss"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="site-footer__bottom">
                    <div class="container">
                        <div class="site-footer__bottom-row">
                            <div class="site-footer__copyright">
                                <!-- کپی رایت -->
                                طراحی شده توسط HTML — طراحی شده توسط
                                <a href="https://themeforest.net/user/kos9" target="_blank">suntech</a>
                                <!-- کپی رایت / پایان -->
                            </div>

                            <div class="site-footer__payments">
                                <img src="{% static 'images/payments.png' %}" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- site__footer / end -->