{% extends "parent/base.html" %}
{% load static %}
{% block title %}haypercar{% endblock title %}

{% comment %} content {% endcomment %}
{% block content %}

		<!-- site__body -->
		<div class="site__body">
			<div class="block-space block-space--layout--after-header"></div>
			<div class="block">
				<div class="container container--max--xl">
					<div class="row">
						<div class="col-12 col-lg-3 d-flex">
							<div class="account-nav flex-grow-1">
							  <h4 class="account-nav__title">ناوبری</h4>
							  <ul class="account-nav__list">
								<li class="account-nav__item"><a href="account-dashboard.html">داشبورد</a></li>
								<li class="account-nav__item"><a href="account-profile.html">ویرایش پروفایل</a></li>
								<li class="account-nav__item"><a href="account-orders.html">تاریخچه سفارشات</a></li>
								<li class="account-nav__item"><a href="account-order-details.html">جزئیات سفارش</a></li>
								<li class="account-nav__item"><a href="account-addresses.html">آدرس‌ها</a></li>
								<li class="account-nav__item account-nav__item--active"><a href="account-edit-address.html">ویرایش آدرس</a></li>
								<li class="account-nav__item"><a href="account-password.html">رمز عبور</a></li>
								<li class="account-nav__divider" role="presentation"></li>
								<li class="account-nav__item"><a href="account-login.html">خروج</a></li>
							  </ul>
							</div>
						  </div>
						  
						  <div class="col-12 col-lg-9 mt-4 mt-lg-0">
							<div class="card">
							  <div class="card-header">
								<h5>ویرایش آدرس</h5>
							  </div>
							  <div class="card-divider"></div>
							  <div class="card-body card-body--padding--2">
								<div class="row no-gutters">
								  <div class="col-12 col-lg-10 col-xl-8">
									<div class="form-row">
									  <div class="form-group col-md-6">
										<label for="address-first-name">نام</label>
										<input type="text" class="form-control" id="address-first-name" placeholder="مهدی">
									  </div>
									  <div class="form-group col-md-6">
										<label for="address-last-name">نام خانوادگی</label>
										<input type="text" class="form-control" id="address-last-name" placeholder="احمدی">
									  </div>
									</div>
									<div class="form-group">
									  <label for="address-company-name">شرکت <span class="text-muted">(اختیاری)</span></label>
									  <input type="text" class="form-control" id="address-company-name" placeholder="شرکت ردپارتس">
									</div>
									<div class="form-group">
									  <label for="address-country">کشور</label>
									  <select id="address-country" class="form-control">
										<option value="">انتخاب کشور...</option>
										<option value="AU">استرالیا</option>
										<option value="DE">آلمان</option>
										<option value="FR">فرانسه</option>
										<option value="IT">ایتالیا</option>
										<option value="RU">روسیه</option>
										<option value="UA">اوکراین</option>
										<option value="US">ایالات متحده</option>
									  </select>
									</div>
									<div class="form-group">
									  <label for="address-address1">آدرس خیابان</label>
									  <input type="text" class="form-control" id="address-address1" placeholder="شماره خانه و نام خیابان">
									  <label for="address-address2" class="sr-only">آدرس خیابان</label>
									  <input type="text" class="form-control mt-2" id="address-address2" placeholder="آپارتمان، واحد، ...">
									</div>
									<div class="form-group">
									  <label for="address-city">شهر</label>
									  <input type="text" class="form-control" id="address-city" placeholder="تهران">
									</div>
									<div class="form-group">
									  <label for="address-state">استان</label>
									  <input type="text" class="form-control" id="address-state" placeholder="تهران">
									</div>
									<div class="form-group">
									  <label for="address-postcode">کد پستی</label>
									  <input type="text" class="form-control" id="address-postcode" placeholder="12345">
									</div>
									<div class="form-row">
									  <div class="form-group col-md-6 mb-0">
										<label for="address-email">آدرس ایمیل</label>
										<input type="email" class="form-control" id="address-email" placeholder="user@example.com">
									  </div>
									  <div class="form-group col-md-6 mb-0">
										<label for="address-phone">شماره تلفن</label>
										<input type="text" class="form-control" id="address-phone" placeholder="+98 912 123 4567">
									  </div>
									</div>
									<div class="form-group mt-3">
									  <div class="form-check">
										<span class="input-check form-check-input">
										  <span class="input-check__body">
											<input class="input-check__input" type="checkbox" id="default-address">
											<span class="input-check__box"></span>
											<span class="input-check__icon">
											  <svg width="9px" height="7px">
												<path d="M9,1.395L3.46,7L0,3.5L1.383,2.095L3.46,4.2L7.617,0L9,1.395Z"/>
											  </svg>
											</span>
										  </span>
										</span>
										<label class="form-check-label" for="default-address">تنظیم به عنوان آدرس پیش‌فرض من</label>
									  </div>
									</div>
									<div class="form-group mb-0 pt-3 mt-3">
									  <button class="btn btn-primary">ذخیره</button>
									</div>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						  
					</div>
				</div>
			</div>
			<div class="block-space block-space--layout--before-footer"></div>
		</div>
		<!-- site__body / end -->
{% endblock content %}