{% extends "parent/base.html" %}
{% load static %}
{% block title %}haypercar{% endblock title %}

{% comment %} content {% endcomment %}
{% block content %}

		
		<!-- site__body -->
		<div class="site__body">
			<div class="block-space block-space--layout--after-header"></div>
			<div class="block">
				<div class="container container--max--xl">
					<div class="row">
						<div class="col-12 col-lg-3 d-flex">
							<div class="account-nav flex-grow-1">
							  <h4 class="account-nav__title">ناوبری</h4>
							  <ul class="account-nav__list">
								<li class="account-nav__item"><a href="account-dashboard.html">داشبورد</a></li>
								<li class="account-nav__item"><a href="account-profile.html">ویرایش پروفایل</a></li>
								<li class="account-nav__item"><a href="account-orders.html">تاریخچه سفارشات</a></li>
								<li class="account-nav__item"><a href="account-order-details.html">جزئیات سفارش</a></li>
								<li class="account-nav__item"><a href="account-addresses.html">آدرس‌ها</a></li>
								<li class="account-nav__item account-nav__item--active"><a href="account-edit-address.html">ویرایش آدرس</a></li>
								<li class="account-nav__item"><a href="account-password.html">رمز عبور</a></li>
								<li class="account-nav__divider" role="presentation"></li>
								<li class="account-nav__item"><a href="account-login.html">خروج</a></li>
							  </ul>
							</div>
						  </div>
						  <div class="col-12 col-lg-9 mt-4 mt-lg-0">
							<div class="card">
							  <div class="order-header">
								<div class="order-header__actions"><a href="account-orders.html" class="btn btn-xs btn-secondary">بازگشت به لیست</a></div>
								<h5 class="order-header__title">سفارش #9478</h5>
								<div class="order-header__subtitle">در تاریخ <mark>19 اکتبر 2020</mark> ثبت شده و در حال حاضر <mark>در انتظار</mark> است.</div>
							  </div>
							  <div class="card-divider"></div>
							  <div class="card-table">
								<div class="table-responsive-sm">
								  <table>
									<thead>
									  <tr>
										<th>محصول</th>
										<th>جمع کل</th>
									  </tr>
									</thead>
									<tbody class="card-table__body card-table__body--merge-rows">
									  <tr>
										<td>کیفیت شمع Brandix ASR-400 × 2</td>
										<td>38.00 دلار</td>
									  </tr>
									  <tr>
										<td>کیفیت ترمز Brandix BDX-750Z370-S × 1</td>
										<td>224.00 دلار</td>
									  </tr>
									  <tr>
										<td>چراغ جلو سمت چپ Brandix Z54 × 3</td>
										<td>1047.00 دلار</td>
									  </tr>
									</tbody>
									<tbody class="card-table__body card-table__body--merge-rows">
									  <tr>
										<th>زیرمجموعه</th>
										<td>1309.00 دلار</td>
									  </tr>
									  <tr>
										<th>هزینه ارسال</th>
										<td>25.00 دلار</td>
									  </tr>
									  <tr>
										<th>مالیات</th>
										<td>262.00 دلار</td>
									  </tr>
									</tbody>
									<tfoot>
									  <tr>
										<th>جمع کل</th>
										<td>1596.00 دلار</td>
									  </tr>
									</tfoot>
								  </table>
								</div>
							  </div>
							</div>
							<div class="row mt-3 no-gutters mx-n2">
							  <div class="col-sm-6 col-12 px-2">
								<div class="card address-card address-card--featured">
								  <div class="address-card__badge tag-badge tag-badge--theme">آدرس ارسال</div>
								  <div class="address-card__body">
									<div class="address-card__name">رایان فورد</div>
									<div class="address-card__row">فدراسیون تصادفی<br>115302، مسکو<br>خیابان وارشاوسکایا، 15-2-178</div>
									<div class="address-card__row">
									  <div class="address-card__row-title">شماره تلفن</div>
									  <div class="address-card__row-content">38 972 588-42-36</div>
									</div>
									<div class="address-card__row">
									  <div class="address-card__row-title">آدرس ایمیل</div>
									  <div class="address-card__row-content">stroyka@example.com</div>
									</div>
								  </div>
								</div>
							  </div>
							  <div class="col-sm-6 col-12 px-2 mt-sm-0 mt-3">
								<div class="card address-card address-card--featured">
								  <div class="address-card__badge tag-badge tag-badge--theme">آدرس صورتحساب</div>
								  <div class="address-card__body">
									<div class="address-card__name">رایان فورد</div>
									<div class="address-card__row">فدراسیون تصادفی<br>115302، مسکو<br>خیابان وارشاوسکایا، 15-2-178</div>
									<div class="address-card__row">
									  <div class="address-card__row-title">شماره تلفن</div>
									  <div class="address-card__row-content">38 972 588-42-36</div>
									</div>
									<div class="address-card__row">
									  <div class="address-card__row-title">آدرس ایمیل</div>
									  <div class="address-card__row-content">stroyka@example.com</div>
									</div>
								  </div>
								</div>
							  </div>
							</div>
						  </div>
						  
					</div>
				</div>
			</div>
			<div class="block-space block-space--layout--before-footer"></div>
		</div><!-- site__body / end -->
		
		
{% endblock content %}